{% extends 'base.html'%}

{% block head %}

{% endblock %}

{% block body %}



<div class="card container d-flex justify-content-lg-center">
    <form class="form-group card-body" action="/add" method="POST">
        <div class="card p-3 ">
            <input class="my-3 rounded " type="text" name="title" id="title" placeholder="Title">
            <textarea class="form-control my-3 h-75"  type="text" name="contents" id="contents" placeholder="Content..." required></textarea>
            <div class="row self-align-center mx-2">
                <input class="btn btn-info" type="submit" value="Add document">
            </div>
        </div>
    </form>
</div>
{% endblock %}
