{% extends 'base.html'%}
<div class="card container">
    {% block head %}
    <h1 class="card-title ">{{document.title}}</h1>
    {% endblock %}

    {% block body %}
    <div class="card-body d-flex justify-content-lg-center">
        {{document.doc_actual}}
    </div>
    <div class="row d-flex ">
        <a class="col-11 text-center  " href="/">
            <button class="btn btn-secondary rounded-pill homepage-button">Homepage</button>
        </a>
        <a class="col-1 text-center rounded " href="/delete/{{document._id}}">
            <button class="btn btn-danger delete-button">Delete document</button>
        </a>
    </div>
    {% endblock %}
</div>
