{% extends 'base.html'%}

{% block head %}

{% endblock %}

{% block body %}
<div class="card rounded-lg container ">
    <h1 class="rounded-lg w-50 text-center text-white card-title bg-info col align-self-center">Better than Google</h1>

    <form class="form-group" action="/" method="POST">
        <div class="text-center card-body ">
            <input type="text" name="query" id="query" placeholder="Query">
            <label for="topk">Top-k</label>
            <input class="form-control-sm" type="number" name="topk" id="topk" min="1" max="25" value="5">
            <label for="metrics">Choose a metric</label>
            <select  name="metric" id="metrics">
                <option value="cosine">Cosine similarity</option>
                <option value="jaccard">Jaccard Similarity</option>
                <option value="tanimoto">Tanimoto Distance</option>
                <option value="pearson">Pearson Distance</option>
                <option value="matusita">Matusita Distance</option>
            </select>
            <div class="row justify-content-center my-5">
                <input class="col-4" type="submit" value="Submit Query">
            </div>

        </div>
    </form>
    <div class="row card table mx-2 justify-content-center ">
        {% if documents|length <1 %}

        {% else %}
        <table class="thead-dark table-striped">
            <tr >
                <th class="text-center">Title</th>
                <th class="text-center">Content</th>
                <th class="text-right">Link</th>
            </tr>

            {% for document in documents %}
            <tr>
                <td class="table-element col-md-3 border-right">{{document.title}}</td>
                <td class="table-element col-md-7 border-right">{{document.preview|safe}}</td>
                <td class="table-element col-md-1 text-right"><a href="/content/{{document._id}}">Full Content</a></td>

            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</div>
<div class="row justify-content-center my-3">
    <a href="/add/page">
        <button class="add document button">Add document</button>
    </a>
</div>
{% endblock %}
