body {
    margin: 0;
    font-family: sans-serif;

}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 100px 50px 50px 50px
}

.table-element {
    font-size: 12px
}
